img {
	width: 350px;
	height: 350px;
}

.row {
  text-align: center;
  font-weight: bold;
}

.modal {
  text-align: center;
}

.product-grid {
  opacity: 1;
}

.product-grid:hover {
  opacity: .7;
}

.modal-title {
	font-weight: bold;
}

.product-price {
	font-size: 1.1em;
	font-weight: bold;
}

#main {
  text-align: center;
  background-color: #333333;
  width:100vw;
  height:100vh;;
}

.navbar-inverse {
  background-color: #333333;
  border-color: #333333;
  color: #FCFCFC;
}

.navbar-brand {
  color: #FCFCFC;
}
