img {
	width: 350px;
	height: 350px;
}


/* change to be responsive?*/
.brand img {
  height: 50px;
  width: 50px;
}


.rightDivOpeningPage {
	padding-left: 8em;
}

.rightDivCategoriesPage {
	height: 100vh;
}

.leftDivCategoriesPage {
  padding-top: 10em;
}

.categories-choices{
	padding-top: 1em;
}

.homepage-choices {
	padding-top: 6em;
	padding-bottom: 8em;
}

.row {
  text-align: center;
  font-weight: bold;
}

.modal {
  text-align: center;
}

.product-grid {
  opacity: 1;
}

.product-grid:hover {
  opacity: .7;
}

.modal-title {
	font-weight: bold;
}

.product-price {
	font-size: 1.1em;
	font-weight: bold;
}

.description-headline {
	text-align: left;
	color: #FCFCFC;

}
.boxes {
	background-color: #F4E04D;
}

.heading {
	color: #333333;
	font: helvetica;
	font-size: 50px;
	opacity: 0.8;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

.categories-heading {
	color: #333333;
	text-align: left;
	font: helvetica;
	font-size: 50px;
	opacity: 0.8;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

span {
	display:inline-block;
	font-weight: bold;
 	border-bottom:3px solid #F4E04D;
	padding-bottom: 30px;
}

html,
body {
  height: 100%;
	background-color: #5EB1BF;
  background-size: cover;
	background-repeat: no-repeat;
}

.about-us {
	background-color: white;
}
.main {
  text-align: center;
  background-color: #333333;
  width:100vw;
  height:100vh;;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  color: transparent;
}


/*ICONS*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 60px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
